<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Qunb API documentation</title>
	<meta name="author" content="Qunb team">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css">
	<link href="css/theme.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
	<h1> Qunb Rest API </h1>
</header>
<div class="main">

	<div class="section api-summary">
		<!-- This zone is AUTOMATICALLY populated-->
		<div class="title">Summary</div>
		<ul class="list"></ul>
		<div class="clearfix"></div>
	</div>


</div>
<footer>

</footer>

<script src="js/libs/jquery-1.7.1.min.js"></script>
<script src="js/libs/rainbow-custom.min.js"></script>
<script src="js/libs/underscore.js"></script>


<!--                    -->
<!--   TEMPLATES        -->
<!--                    -->

<!--  SECTION VIEW      -->
<script type="text/template" id="section-template">

  <!-- API SECTION -->
  <div class="section">
    
    <!-- Section title -->
    <div class="title"><%=section.title%></div>

    <% _.each(section.actions, function(action){ %>
        <%= templates && templates.action_template && templates.action_template({ action: action, templates: templates }) %>
    <% }); %>

  </div>
  <!-- / API SECTION -->

</script>

<!--  ACTION VIEW       -->
<script type="text/template" id="action-template">

  <!-- API ACTION START -->
    <div class="action">

      <!-- Left Part: action description -->
      <div class="description">

        <!-- Action title -->
        <div class="title"><%=action.title%></div>
        <div class="more-info">
          <%=action.description%>
        </div>

        <% if(action.params && action.params.length > 0) { %>
          <!-- Action parameters -->
          <div class="subtitle">Parameters</div>
          <ul class="parameters">
            <% _.each(action.params, function(param){ %>
              <li><span class="name"><%=param.id%></span><% if(param.description) { %><span class="description"><% if(param.optionnal){ print('(opt) '); } %><%=param.description%></span></li><% } %>
            <% }); %>
          </ul>
        <% } %>

        <% if(action.errors && action.errors.length > 0) { %>
          <!-- Action errors -->
          <div class="subtitle">Errors</div>
          <ul class="parameters">
            <% _.each(action.errors, function(error){ %>
              <li><span class="name"><%=error.code%></span><% if(error.description) { %><span class="description"><%=error.description%></span></li><% } %>
            <% }); %>
          </ul>
        <% } %>

      </div>

      <!-- Right part: action request -->
      <div class="request">

        <!-- Request end point -->
        <div class="title"><%=action.method%> <%=action.uri%></div>

        <!-- Request examples -->
        <% if(action.examples && action.examples.length > 0) { %>
          <% _.each(action.examples, function(example){ %>

            <%= templates && templates.example_template && templates.example_template({ example: example }) %>
          
          <% }); %>
        <% } %>

      </div>
      <div class="clearfix"></div>
    </div>
    <!-- API ACTION END-->

</script>



<!--  EXAMPLE VIEW      -->
<script type="text/template" id="example-template">
  
  <div class="subtitle"><%=example.title%>:</div>

  <!-- Request example -->
  <div class="example-request"><%=example.method%> <%=example.uri%>
  <% if(example.headers && example.headers.length>0) { %>
    <% _.each(example.headers, function(header){ %>
      <br><%=header.key%>: <%=header.value%>
    <% }); %>
  <% } %>
  </div>

  <% if(example.payload){%>
    <div class="subtitle">Payload:</div>
    <div class="example-response">
      <pre><code data-language="javascript"><%=example.payload%></code></pre>  
    </div>
  <% } %>

  <% if(example.response){%>
    <div class="subtitle">Response:</div>
    <div class="example-response">
      <pre><code data-language="javascript"><%=example.response%></code></pre>  
    </div>
  <% } %>
  
  <br>

</script>




<script>

// Open / close the json example
$(".example-response").on("click", function(){
	$(this).toggleClass("open");
});

$(document).ready(function() {

    
    function render(model){
      // main section template
      var section_template = _.template($('#section-template').html());
      
      // inner templates
      var inner_templates = {};
      inner_templates.action_template = _.template($('#action-template').html());
      inner_templates.example_template = _.template($('#example-template').html());

      // select the place where to put the sections
      var main = $(".main");

      _.each(model.sections, function(section){
        console.log(JSON.stringify(section));
        main.append(section_template({section: section,templates: inner_templates}));
        
      });

      // once everything is drawn, create the summary
      generateSummary();
    };

    $.ajax({
      url: "scheme.json",
      success: function(value){
       render(value);
      }
    });

    function generateSummary() {

      $('.section').each(function(index){

        console.log("found section");

        // Get all the action from the section
        var actions = $(this).find(".action");

        // if there are actions in this section, create it in the summary
        if(actions.length > 0){

          // get the title from the <div class=title></div>
          var section_title = $(this).find(".title").first().html();

          // create an anchor uri for this section
          var section_uri = encodeURI(section_title.replace(" ","_"));

          // add an anchor to the section
          $(this).attr('id',section_uri);

          // create the html elements for the section
          var section_el = $("<li><a href=#"+section_uri+">"+section_title+"</a><div class=clearfix></div><ul class=action-titles></ul><ul class=end-points></ul></li>");

          // Add the html element to the api list element
          $('.api-summary > .list').append(section_el);

          // for each action, add it in this section's list
          actions.each(function(index){
            var action = $(actions[index]);
            var action_title = action.find(".description > .title").html();
            var action_uri = encodeURI(action_title.replace(" ","_"));


            // add an anchor to the action
            action.attr('id',action_uri);

            // add a link in the end-points list
            section_el.find('.end-points').append("<li><a href='#"+action_uri+"'>"+action.find('.request > .title').html()+"</a></li>");

            // add a link in the action-titles list
            section_el.find('.action-titles').append("<li><a href='#"+action_uri+"'>"+action.find('.description > .title').html()+"</a></li>");
          });



        }


      });
    }
});
</script>

</body>
</html>
